{{ page.main_navigation}}


<div class="container contact-wrapper">
    <div class="row">
        <div class="col-lg-8 offset-lg-4">
            <h2>Contact Details</h2>
            <p> far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.</p>
            <br><br>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 contact-info">
            <h3>Contact Info.</h3>
            <ul class="contact-info">
                <li><i class="fa fa-location-arrow"></i>Wrocław, Poland</li>
                <li><i class="fa fa-envelope-o"></i>
                <a href="#">kobielaa@gmail.com</a></li>
                <li><i class="fa fa-globe"></i><a href="#">www.mariuszkobiela.me</a></li>
            </ul>
        </div>
        <div class="col-lg-8">
            {{ page.contact}}
        </div>
    </div>
</div>

{% include directory ~ '/templates/partials/footer.html.twig' %} 

