<footer>
    <div class="conrainer">
        <div class="row justify-content-center">
            <p class="follow">Follow me</p>
            <div class="col-sm-12 text-center">
                <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="text-center">
            <p class="follow">© 2018  All Rights Reserved. 
            <span>Designed by 
            <a class="designby" href="http://www.mariuszkobiela.me" target="_blank">Mariusz Kobiela</a> 
            </span></p>	
        </div>
    </div>
</footer>