.main-navbar {
    font-family: 'Roboto', sans-serif !important;
    color: red;
    float: right;
    li {
        display: inline-block;
        margin-top: 16px;
        &:last-child {
            margin-right: 20px;
        }
        a {
            text-decoration: none;
            display: block;
            padding: 0 5px 10px 5px;
            color: $jasny-szary;
            font-size: 13px;
            text-transform: uppercase;
        }
    }
}

.nav-logo {
    display: inline-block;
    font-family: 'Roboto', sans-serif !important;
    position: relative;
    top: 5px;
    a {
        font-size: 30px;
        color: $jasny-szary;
        font-weight: 700;
        &:hover {
            text-decoration: none;
            color: $jasny-szary !important;
        }
    }
    span.dot {
        color: $pastel;
        font-size: 70px;
        line-height: 0;
    }
}

a.is-active {
    border-bottom: 1px solid black;
}

.main-header {
    width: 100%;
    background: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 700px;
    @include tablets {
        min-height: 0;
        height: 500px;
    }
    @include phones {
        min-height: 0;
        height: 300px;
    }
    h2 {
        font-size: 70px;
        font-weight: 400;
        color: #fff;
        text-align: center;
        @include tablets {
            font-size: 30px;
            padding: 0 15px 0 15px;
        }
        @include phones {
            font-size: 30px;
            padding: 0 15px 0 15px;
        }
    }
}